@import '../../styles/shared.scss';

.available-meals{
    width: 90%;
    max-width: 60rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    background: $gradient_three;
    position: relative;
    box-shadow: $box_shadow_three;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;

    & ul{
        list-style:none;

        & li{
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            justify-content: space-between;
        }
    }

    p.dish-title{
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .meal-item{
        max-width: 50%;
    }
}