@import '../../styles/shared.scss';


ul{
    list-style:none;

    & li{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        justify-content: space-between;
    }
}

.meal-item{ 
    p.dish-title{
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .meal-item{
        max-width: 50%;
    }
}