@import '../../styles/shared.scss';

.summary{
    color: white;
    border-radius: 1rem;
    background: $gradient_two;
    position: relative;
    width: 90%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    box-shadow: $box_shadow_two;
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    & p{
        padding: 0.5rem 0rem;
        font-size: 1rem;
    }

    & h2{
        font-size: 1.25rem;
    }

    @include breakpoint(tablet){

    }

    @include breakpoint(qhd){

    }
}