@import '../../styles/shared.scss';

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: calc(60vh - 6.5rem);
    padding-right: 1rem;
    margin-bottom: 0.5rem;

    & p{
      width: 100%;
      text-align: left;
    }

    & li{ 
      padding: 0; 
      font-size: 1.5rem; 
      font-weight: bold;
      font-style: italic;
      flex-direction: row;
    }
  }
  
  .total {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    margin: 0rem 0rem 1rem 0rem;

    &__amount{
      margin: 0rem 0rem 6rem 0rem;

      & span{
        padding-right: 1rem;
      }
    }
  }
  
  .actions {
    text-align: right;
    bottom: 1rem;
    right: 1.1rem;
    margin-top: 1rem;

    & button {
        font: inherit;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        padding: 0.5rem 1.25rem;
        border-radius: 5px;
        margin-left: 1rem;
        transition: $transition_quarter_second;
        box-shadow: $box_shadow_one;
    
          &.button--alt {
            color: white;

            &:hover{
              background-color: white;
              color: $brand_color_five;
            }

          }
    
          &.button {
            background-color: transparent;
            color: white;

            &:hover{
              background-color: white;
              color: $brand_color_five;
            }

          }
      }
  }

.empty-text{
  margin-bottom: 2rem;
}
  
