@import '../../styles/shared.scss';

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;

    & li{ 
      padding: 0; 
      margin: 0; 
      font-size: 1.5rem; 
      font-weight: bold;
      font-style: italic;
    }
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
    position: fixed;
    bottom: 1rem;
    right: 1.1rem;

    & button {
        font: inherit;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        margin-left: 1rem;
        transition: $transition_quarter_second;
    
          &:hover:active{ animation: pulse 1s; }
    
          &.button--alt {
            color: white;

            &:hover{
              background-color: white;
              color: $brand_color_five;
            }

          }
    
          &.button {
            background-color: transparent;
            color: white;

            &:hover{
              background-color: white;
              color: $brand_color_five;
            }
            
          }
      }
  }
  
