@import '../../../styles/shared.scss';

.meal{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    margin: 0.25rem 0rem;

    & .title{
        font-weight: bold;
        font-size: 1.1rem;
    }

    & .meal-item{
        max-width: 48%;
    }

    & .add-to-cart{
        max-width: 48%;
    }

    & .description{
        font-style: italic;
    }

    & .price{
        font-weight: bold;
        font-size: 1.1rem;
    }
}