@import '../../../styles/shared.scss';

form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;

    & .meal-modifier{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    & .decrement{
        background: inherit;
        color: inherit;
        font-size: inherit;
        border-style: solid;
        font-weight: inherit;
        border-color: white;
        transition: $transition_quarter_second;
        width: 2rem;
        height: 2rem;
        border-radius: 0.35rem;

        &:hover{
            background: white;
            color: $brand_color_four;
        }

        &:active{ animation: pulse 2s; }

        box-shadow: $box_shadow_one;

    }

    & .increment{
        color: inherit;
        font-size: inherit;
        background: inherit;
        font-weight: inherit;
        border-style: solid;
        border-color: white;
        transition: $transition_quarter_second;
        width: 2rem;
        height: 2rem;
        border-radius: 0.35rem;

        &:hover{
            background: white;
            color: $brand_color_four;
        }

        &:active{ animation: pulse 2s; }

        box-shadow: $box_shadow_one;
    }

    & .submit{
        display: block;
        border-radius: 0.35rem;
        font-size: inherit;
        background: inherit;
        font-weight: inherit;
        margin-top: 0.5rem;
        color: inherit;
        border-style: solid;
        border-color: white;
        box-shadow: $box_shadow_one;
        transition: $transition_quarter_second;
        padding: $padding_add_to_cart_box;

        &:hover{
            background: white;
            color: $brand_color_four;
        }

 
    }


}

/* Remove input number icons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
        margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}