@import 'shared.scss';

.App {
  text-align: center;
  width: 100vw;
  height: 100vh; 
  overflow-x: hidden;

  // Add the floating boxes in the background as our animation
  & .animation-box{
    color: black;

    & .box-area{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:-1;
      color: white;
      overflow: hidden;
      background: white;

      & li{
        position: absolute;
        top: 20%;
        display: block;
        list-style: none;
        color: green;
        width: 1.5rem;
        height: 1.5rem;
        animation: levitate 12s linear infinite;
        border-radius: 1rem;

        &:nth-child(1){
          left: 0%;
          width: 3rem;
          height: 3rem;
          animation-delay: 0s;
          background: $gradient_three;
          box-shadow: $box_shadow_three;
        }

        &:nth-child(2){
          left: 17%;
          width: 1.5rem;
          height: 1.5rem;
          animation-delay: 5s;
          animation-duration: 10s;
          background: $gradient_four;
          box-shadow: $box_shadow_two;
        }

        &:nth-child(3){
          left: 34%;
          width: 2rem;
          height: 2rem;
          animation-delay: 3.25s;
          animation-duration: 10s;
          background: $gradient_three;
          box-shadow: $box_shadow_three;
        }

        &:nth-child(4){
          left: 51%;
          width: 4rem;
          height: 4rem;
          animation-delay: 4.25s;
          animation-duration: 15s;
          background: $gradient_one;
          box-shadow: $box_shadow_four;
        }

        &:nth-child(5){
          left: 68%;
          width: 1.75rem;
          height: 1.75rem;
          animation-delay: 2.5s;
          background: $gradient_three;
          box-shadow: $box_shadow_three;
        }

        &:nth-child(6){
          left: 85%;
          width: 3.5rem;
          height: 3.5rem;
          animation-delay: 1.5s;
          background: $gradient_four;
          box-shadow: $box_shadow_two;
        }
      }

    }

  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #202124;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
