// Branding colors
$brand_color_one : #20bf55;
$brand_color_two : #01baef;
$brand_color_three : #5f0a87;
$brand_color_four: #a4508b;
$brand_color_five: #b91372;
$brand_color_six: #6b0f1a;
$brand_color_seven: #009ffd; 
$brand_color_eight: #2a2a72;
$brand_color_nine: #647dee;
$brand_color_ten: #7f53ac;
$brand_color_eleven: #09c6f9;
$brand_color_twelve: #045de9;
$brand_color_thirteen:  #03a0cd;

// Box shadows
$box_shadow_one : 0px 6px 12px rgba(0,0,0,0.2);

// Typography
$brand_font_color_one: #FFFFFF;

// Padding
$padding_x_10: 0% 10% 0% 10%;

// Images
$image_size_rotate : calc(100% + 2rem);

// transitions
$transition_quarter_second : all 0.25s linear;

// Breakpoints
@mixin breakpoint($point) {

    @if $point == tablet{
        @media ( min-width: 768px ){ @content; }
    }

    @else if $point == desktop{
        @media ( min-width: 1024px ){ @content; }
    }
}

