// Branding colors
$brand_color_one : #20bf55;
$brand_color_two : #7f53ac;
$brand_color_three : #5f0a87;
$brand_color_four: #a4508b;;
$brand_color_five: #b91372;
$brand_color_six: #6b0f1a;
$brand_color_seven: #009ffd; 
$brand_color_eight: #2a2a72;
$brand_color_nine: #647dee;
$brand_color_ten: #7f53ac;
$brand_color_eleven: #09c6f9;
$brand_color_twelve: #045de9;
$brand_color_thirteen:  #03a0cd;
$brand_color_fourteen: #383838;
$brand_color_fifteen: #cfd6e6;
$brand_color_sixteen: #e7eff9;
$brand_color_seventeen: #7c98b3;
$brand_color_eighteen: #637081;

// Gradients
$gradient_one: linear-gradient( $brand_color_three, $brand_color_four );
$gradient_two: linear-gradient( $brand_color_two, $brand_color_seven );
$gradient_three: linear-gradient( $brand_color_four, $brand_color_five );
$gradient_four: linear-gradient( $brand_color_seven, $brand_color_thirteen );

// Box shadows
$box_shadow_one : 0px 6px 16px rgba(0,0,0,0.2);
$box_shadow_two : 0px 0px 20px $brand_color_seven;
$box_shadow_three : 0px 0px 20px $brand_color_five;
$box_shadow_four : 0px 0px 20px $brand_color_three;

// Typography
$brand_font_color_one: #FFFFFF;
.text-align-left{ text-align: left; }
.text-align-right{ text-align: right; }

// Padding
$padding-x-5: 0% 5% 0% 5%;
$padding_x_10: 0% 10% 0% 10%;
$padding_y_1_rem: 1rem 0rem;
$padding_y_point5_rem: 0.5rem 0rem;
$padding_y_quarter5_rem: 0.25rem 1rem;
$padding_price_box: 0.25rem 0.25rem;
$padding_add_to_cart_box: 0.25rem 0.75rem;
$padding_horizontal_mobile: 0rem 1rem 0rem 1rem;
$page_container: 0% 5% 0% 5%;
$padding_add_items_number: 0.25rem 0rem 0.25rem 1rem;
$padding_add_items_button: 0.25rem 1rem 0.25rem 0rem;
$padding_default_button: 0rem 1rem 0rem 0.75rem;

// Margins
$margin_bottom_5rem: 0rem 0rem 5rem 0rem;
$cart_modifier_button_margin: 0rem 0rem 0rem 0.75rem;

// Borders
$border_one : 2px solid white;
$border_two : 2px solid $brand_color_two;

// Images
$image_size_rotate : 110%;

// transitions
$transition_quarter_second : all 0.25s linear;

// Overlays
$black_overlay : rgba(0, 0, 0, 0.8);

// Buttons
button.increment, button.decrement{
    background: inherit;
    color: inherit;
    font-size: 1rem;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    border-color: white;
    transition: $transition_quarter_second;
    width: 2rem;
    height: 2rem;
    border-radius: 0.35rem;
    text-align: -webkit-center;
    text-align: center;
    padding: 0;

    &:hover{
        background: white;
        color: $brand_color_four;
    }

    &:active{ animation: pulse 2s; }

    box-shadow: $box_shadow_one;
}

// Animations
$slide_up: slide-up 750ms linear forwards;
@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(+3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

$slide_down_300ms : slide-down 500ms linear forwards;
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }   
} 

@keyframes levitate{

  0%{   
    transform: translateY(0) rotate(0deg);
  }

  50%{
    transform: translateY(70vh) rotate(360deg);
  }

  100%{   
    transform: translateY(0) rotate(0deg);
  }

}

// Breakpoints
@mixin breakpoint($point) {

    @if $point == tablet{
        @media ( min-width: 768px ){ @content; }
    }

    @else if $point == desktop{
        @media ( min-width: 1024px ){ @content; }
    }

    @else if $point == qhd{
        @media ( min-width: 2560px ){ @content; }
    }

    @else if $point == uhd{
        @media ( min-width: 3840px ){ @content; }
    }
    
}

