@import '../../styles/shared.scss';

 .header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 80%;
    z-index: 3;
    margin: auto;
    padding: $padding_x_10;
    background-color: $brand_color_nine;
    box-shadow: $box_shadow_one;
    height: 5rem;
    top: 0px;
    left: 0;
    
    & h2{
      color: white;
      max-width: 50%;
    }

  }

  .main-image{
    width: 100%;

    & img{
      height: 15rem;
      width: $image_size_rotate;
      object-fit: cover;
      position: relative;
      bottom: 5rem;
      right: 2rem;
      transform: rotate(-5deg);

      @include breakpoint(tablet){
        height: 25rem;
      }
    }

  }
  

  