@import '../../styles/shared.scss';

 .header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 80vw;
    z-index: 3;
    margin: auto;
    padding: $padding-x-10;
    background-image: $gradient_two;
    box-shadow: $box_shadow_two;
    height: 5rem; 
    top: 0px;
    left: 0;
    
    & h2{

      color: white;
      max-width: 50%;
      font-size: 1.25rem;

      @include breakpoint( tablet ){
        font-size: 2rem; 
      }

      @include breakpoint( qhd ){
        font-size: 3rem;
      }
      
    }

  }

  .main-image{
    width: 100vw;
    overflow: hidden;

    & img{
      height: 15rem;
      width: 100%;
      object-fit: cover;

      @include breakpoint(tablet){
        height: 20rem;
      }

      @include breakpoint(qhd){
        height: 30rem;
        bottom: 3rem;
      }
  
      @include breakpoint(uhd){
        height: 40rem;
      }
      
    }

  }
  

  