.header{
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    background-color: teal;
    z-index: 3;

}


h2{
  color: black;
}

.main-image{
    width: 100%;
    overflow: hidden;


}

img{
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
}

