@import '../../styles/shared.scss';

div{
    color: white;
}

.order-count{
    background: $gradient_three;
    border: $border_one;
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    margin-left: 0.5rem;
    font-weight: bold;
}

.header-cart{

    display: flex;
    align-items: center;
    background: $gradient_three;
    box-shadow: $box_shadow_three;
    border: $border_one;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: $transition_quarter_second;
    transform: scale(1);
    color: white;
    
    & svg{
        margin-right: 0.5rem;
    }

    & p{
        font-size: 1rem;
    }

    & h3{

        margin: 0;
        font-size: 1rem;

        @include breakpoint( tablet ){
            font-size: 1.3rem;
        }

        @include breakpoint( qhd ){
            font-size: 1.7rem;
        }

    }

    &:hover{ 
        transform: scale(1.1);
        animation: pulse 2s infinite;
    }

}