@import '../../styles/shared.scss';

div{
    color: white;
}

.header-cart{

    display: flex;
    align-items: center;
    background-color: $brand_color_two;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    transition: $transition_quarter_second;
    transform: scale(1);
    
    & svg{
        margin-right: 0.5rem;
    }

    & h3{

        margin: 0;
        font-size: 1rem;

        @include breakpoint( tablet ){
            font-size: 1.3rem;
        }

        @include breakpoint( qhd ){
            font-size: 1.7rem;
        }

    }

    @keyframes pulse {

        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
    
        70% {
            transform: scale(1.1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        
    }    

    &:hover{ 
        transform: scale(1.1);
        animation: pulse 2s infinite;
    }

}