body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root{
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, section{
  margin: 0;
  padding: 0;
}

button{
  text-align: center;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#b91372,#b91372);
}