@import '../../styles/shared.scss';

.input{

    input{
        border-right: none;
        border-top: $border_one;
        border-bottom: $border_one;
        border-left: $border_one;
        background-color: inherit;
        color: white;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: $padding_add_items_number;
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
    }

}