@import '../../styles/shared.scss';

.input{

    flex-basis: 50%;

    input{
        width: 94%;
        text-align: center;
        background: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        border-style: solid;
        border-color: white;
        padding: $padding_y_quarter5_rem;
        box-shadow: $box_shadow_one;
    }

    /* input{
        border-right: none;
        border-top: $border_one;
        border-bottom: $border_one;
        border-left: $border_one;
        background-color: inherit;
        color: white;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: $padding_add_items_number;
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
    } */

}