@import '../../styles/shared.scss';

.input{

    input{
        width: 30px;
        text-align: center;
        background: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        border: 0;
        padding: $padding_price_box;
    }

}