@import '../../styles/shared.scss';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: $black_overlay;
    backdrop-filter: blur(6px);
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 80%;
    min-height: 20rem;
    margin: auto;
    background: $gradient_one;
    padding: 1.2rem;
    border-radius: 14px;
    box-shadow: $box_shadow_four;
    z-index: 30;
    animation: $slide_down_300ms;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 21rem);
    }
  }
  
