@import '../../styles/shared.scss';

.checkout-form{
    animation: fade-in 500ms linear;
    display: flex;
    width: 100%;

    &__input{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.5rem;
        transition: all 0.15s linear;

        input, textarea{
            color: $brand_color_one;
            background-color: transparent;
            border: 2px solid $brand_color_one;
            border-radius: 4px;
            padding: 0.4rem 0rem;
            margin-top: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
        }

        label{
            color: $brand_color_one;
        }

        &--invalid{
            input, textarea{
                color: white;
                border-color: white;
            }

            label{
                color: white;
            }
        }

        @include breakpoint(tablet){
            width: 80%;
        }
    }

    &__phone{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-bottom: 1.5rem;

        @include breakpoint(tablet){
            width: 80%;
        }

        &--invalid{

        }
    }

    &__phone-wrapper{
        display: flex;
        border: 2px solid $brand_color_one;
        border-radius: 4px;
        margin-top: 0.5rem;
        align-items: center;
        color: $brand_color_one;

        input{
            flex-grow: 1;
            border: 0px;
            margin: 0px;
            margin-left: 0.35rem;
            padding: 0.4rem 0rem;
            background-color: transparent;
            color: $brand_color_one;
            font-size: 1rem;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
        }

        &--invalid{
            border-color: white;
            color: white;

            input{
                color: white;
            }
        }

    }

    &__submit{
        padding: 0.4rem 1rem;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.15s linear;

        &:hover, &:focus{
            background-color: white;
            color: $brand_color_four;
        }

        &--valid{
            border-color: $brand_color_one;
            color: $brand_color_one;

            &:hover, &:focus{
                background-color: $brand_color_one;
            }
        }
    }

}

.checkout-title{
    animation: fade-in 500ms linear;
    width: 100%;
    margin: auto;
    padding: 1rem;
    
    @include breakpoint(tablet){
        width: 80%;
    }
}